.header {
    background-color: #424242;
    border-top: 15px solid #424242;
}

span{
    font-size: 50px;
    color: #424242;
    margin: 0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
    width: 25%;
}

.card{
    display: flex;
    justify-content: center;
}

.sub_cards{
    border-radius: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    background-color: #E9EAEC;
    margin-bottom: 0;
    padding: 20px;
}

.pre{
    color: white;
    background-color: #424242;
    margin-bottom: 0;
    box-shadow: -25px 0 0 #424242;
}